<div id="<%= dom_id user %>" class="bg-white rounded-lg shadow mb-4">
  <div class="p-6">
    <div class="space-y-4">
      <div class="flex items-center">
        <span class="text-gray-600 mr-2">Nome:</span>
        <span class="font-medium text-gray-900"><%= user.name %></span>
      </div>

      <div class="flex items-center">
        <span class="text-gray-600 mr-2">CPF:</span>
        <span class="font-medium text-gray-900"><%= user.cpf %></span>
      </div>

      <div class="flex items-center">
        <span class="text-gray-600 mr-2">Senha (hash):</span>
        <span class="font-medium text-gray-900"><%= user.password_digest %></span>
      </div>
    </div>
  </div>
</div>
