<div class="container mt-5">
  <div class="row">
    <div class="col-md-8 offset-md-2">
      <div class="card">
        <div class="card-header">
          <h2>Editar Lote para <%= @product.name %></h2>
        </div>
        <div class="card-body">
          <%= render 'form', lot: @lot %>
        </div>
      </div>
    </div>
  </div>
</div>
